

img {
  margin-top: -1px;
  display: inline-block;
  overflow: scroll;
  object-fit: fill;
  margin-bottom: -1px;
  position: relative;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: auto;

}

.body {
  max-width: 100vw;
  max-height: auto;
  min-width: 100vw;
  
}



