

img {
    width: 100vw;
    overflow: hidden;
    overflow-x: hidden;
    margin-top: -3px;
    margin-bottom: -3px;
}

html, body {
    overflow-x: hidden;
    min-width: 100vw;
    margin: 0px;
    
}


