

img {
  margin-top: -1px;
  display: inline-block;
  overflow-x: hidden;
  object-fit: cover;
  margin-bottom: -1px;
  position: center;
  width: 101vw;
  min-width: 101vw;
  max-width: 101vw;
  height: auto;

}

html, body {
  width: 101vw;
  max-width: 101vw;
  max-height: auto;
  min-width: 101vw;
  overflow-x: hidden;
  
}



